<div class="about-container">
  <app-toptap></app-toptap>
  <div class="header-and-subtitle-container">
    <div class="header-container">
      <a routerLink="/home" style="border-radius: 10px;" matRipple  >
        <img src="/assets/images/forkfam_logo.png" style="max-height: 60px; max-width: 40vw; cursor: pointer" alt="Logo for our app forkfam">
      </a>
      <span class="header-divider"></span>
      <a href="https://sdgs.un.org/goals" target="_blank" style="border-radius: 10px;" matRipple>
        <img src="/assets/images/sdgs/logo_horizontal.png" 
             style="max-height: 80px; max-width: 80vw; min-width: 200px; cursor: pointer;" 
             alt="Logo for the Sustainable Development Goals" >
      </a>
    </div>
    <p style="font-family: Poppins; font-size: 12px; color: rgba(69, 71, 69, 0.47); transform: translateY(-70%);">We at forkfam fully support the Sustainable Development Goals</p>
  </div>

  <mat-drawer-container class="about-container" style="border-radius: 50px;">

    <mat-drawer #drawer class="sidenav" (closed)="refreshSdgs()">
      <div class="sidenav-toggle">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        </div>
        <div class="sidenav-content">
          <div class="mat-elevation-8" style="display: flex; flex-direction: row; border-radius: 50px; box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);">
            <mat-card style="border-radius: 50px 0px 0px 50px">
              <mat-card-header>
                <img mat-card-avatar src="/assets/images/forkfam_logo_mini.png" style="min-width: 40px;">
                <mat-card-title class="card-title">forkfam</mat-card-title>
                <mat-card-subtitle class="card-subtitle">is actively designed in support of</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <form>
                  <mat-form-field style="width: 100%">
                    <textarea #message style="min-height: 80px; max-height: 200px;" matInput placeholder="Write about how forkfam helps us achieve this goal"></textarea>
                    <mat-hint align="end">{{message.value.length}}</mat-hint>
                  </mat-form-field>
                </form>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDIT</button>
                <button mat-button>SAVE</button>
                <button mat-button>UNDO</button>
                <button mat-button>LOAD</button>
                <button mat-button (click)="toggleFlip()">SHOW</button>

              </mat-card-actions>
            </mat-card>
            <div class="flip-container" [class.flipped]="isFlipped" style="overflow: hidden" >
              <div class="flipper">
                <img  class="front" [src]="sdgService.sdgIconPaths[selectedGoal - 1]"> 
                <div class="back" [style.background-color]="sdgService.sdgIconColors[selectedGoal -1]"></div>
              </div>
            </div>
          </div>
        </div>
    </mat-drawer>
    <div class="content-container">
      <app-sdgs-doughnut></app-sdgs-doughnut>
      <app-sdgs-icons (drawerOpen)="drawer.toggle()"></app-sdgs-icons>
      <h4 ><a href="https://sdgs.un.org/goals" target="_blank" style="font-family: Poppins; font-size: 12px; color: rgba(69, 71, 69, 0.47);; text-decoration: none;" >Learn more about SDGs</a></h4>
    </div>

  </mat-drawer-container>
   

    

</div>
