<div class="about-container">
  <app-toptap></app-toptap>
  <div class="header-and-subtitle-container">
    <div class="header-container">
      <a routerLink="/home" style="border-radius: 10px;" matRipple  >
        <img src="/assets/images/forkfam_logo.png" style="max-height: 60px; max-width: 40vw; cursor: pointer" alt="Logo for our app forkfam">
      </a>
      <span class="header-divider"></span>
      <a href="https://sdgs.un.org/goals" target="_blank" style="border-radius: 10px;" matRipple>
        <img src="/assets/images/sdgs/logo_horizontal.png" 
             style="max-height: 80px; max-width: 80vw; min-width: 200px; cursor: pointer;" 
             alt="Logo for the Sustainable Development Goals" >
      </a>
    </div>
    <p style="font-family: Poppins; font-size: 12px; color: rgba(69, 71, 69, 0.47); transform: translateY(-70%);">We at forkfam fully support the Sustainable Development Goals</p>
  </div>

  <mat-drawer-container class="about-container" style="border-radius: 50px;">

    <mat-drawer #drawer class="sidenav">
      <div class="sidenav-toggle">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </div>
      <div style=>
        
      </div>


    </mat-drawer>
    <div class="content-container">
      <app-sdgs-doughnut></app-sdgs-doughnut>
      <app-sdgs-icons (drawerOpen)="drawer.toggle()"></app-sdgs-icons>
      <h4 ><a href="https://sdgs.un.org/goals" target="_blank" style="font-family: Poppins; font-size: 12px; color: rgba(69, 71, 69, 0.47);; text-decoration: none;" >Learn more about SDGs</a></h4>
    </div>

  </mat-drawer-container>
   

    

</div>
