.header-container {
    position: relative;
    margin-top: 2vh;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Set the bubbles behind the hallway */
  }
  
  .foreground {
    position: relative;
    z-index: 2; /* Set the hallway in front of the bubbles */
  }
  
  .bubbles {
    flex-shrink: 0;
  }
  
  .image {
    position: relative;
    width: 417px;
    height: 318px;
    z-index: 1;
  }
  
  .title { 
    font-family: Poppins;
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: white;
    text-align: start;
  }
  
  .subtitle {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Adjust the space between the items to your preference */
    margin: 10vh;
  }
  