<div class="header-container">
    <div class="background">
        <app-bubbles></app-bubbles>
    </div>
    <div class="foreground">
        <app-welcome></app-welcome>
    </div>
</div>
<div class="content-container">
    <div class="title">Welcome back!</div>
    <div class="subtitle">Looking to share some delicious food?</div>
</div>
<form class="form-container">
    <mat-form-field appearance="outline" color="warn">
        <mat-label>Email, Username</mat-label>
        <input matInput placeholder="KindChef5768">
        <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" color="warn">
        <mat-label>Enter your password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-fab extended color="warn" [routerLink]="'/home'" >Login</button>
</form>
<div class="actions-container">
    <h4 ><a style="color: white; text-decoration: none;" [routerLink]="'/register'">Sign Up</a></h4>
    <h4 ><a style="color: black; text-decoration: none;" [routerLink]="'/forgot-password'">Forgot Password?</a></h4>
</div>


