
.start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  max-width: 400px;
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.background {
  z-index: 1;
}

.foreground {
  z-index: 2;
  
}

.title { 
  font-family: Poppins;
  font-size: 33px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: start;
  overflow: hidden;
}
  
.subtitle {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the space between the items to your preference */
  margin-top: 10%;
  width: 100%;
}

.linear-gradient {
  margin-top: 10vh;
  background: linear-gradient(to right, #FFD740 0%, #FF8A80 100%);
  width: 100%;
}
  