<div class="home-background">
    <mat-drawer-container class="home-background" autosize>
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button aria-label="Menu icon button">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <button [routerLink]="'/search'" mat-icon-button aria-label="Search icon button">
              <mat-icon>search</mat-icon>
            </button>
        </mat-toolbar>
        <mat-drawer #drawer class="sidenav" mode="over">
            <div class="sidenav-toggle">
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <app-avatar></app-avatar>
            <mat-divider></mat-divider>

            <div class="sidenav-buttons">
                <div class="sidenav-button">
                    <mat-icon>home</mat-icon>
                    <button mat-button>
                        Home
                    </button>
                </div>
                <div class="sidenav-button">
                    <mat-icon>bar_chart</mat-icon>
                    <button mat-button>
                        Recent Orders
                    </button>
                </div>
                <div class="sidenav-button">
                    <mat-icon>contact_mail</mat-icon>
                    <button mat-button>
                        Addresses
                    </button>
                </div>
                <div class="sidenav-button">
                    <mat-icon>notifications</mat-icon>
                    <button mat-button>
                        Notifications
                    </button>
                </div>
                <div class="sidenav-button">
                    <mat-icon>location_on</mat-icon>
                    <button mat-button>
                        Location
                    </button>
                </div>
                <div class="sidenav-button">
                    <mat-icon>settings</mat-icon>
                    <button mat-button>
                        Settings
                    </button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="logout-container">
                <div class="sidenav-button">
                    <mat-icon>logout</mat-icon>
                    <button mat-button>
                        Logout
                    </button>
                </div>
            </div>
        </mat-drawer>
        <div class="location-selector">
            <div class="current-location">
                <mat-icon style="font-size: large; transform: translateY(20%);">location_on</mat-icon>
                <p class="location-title" style="text-decoration: none;" >Work Place</p>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </div>
            <p class="location-subtitle">Choose a favourite location</p>
        </div>
        <mat-menu #menu="matMenu" xPosition="before" style="transform: translate(-50%);">
            <button mat-menu-item>Work Place</button>
            <button mat-menu-item>Home</button>
            <button mat-menu-item>My favorite hangs</button>
        </mat-menu>
        <mat-tab-group style="margin-inline: 2vw">
            <mat-tab >
              <ng-template mat-tab-label>
                <mat-icon class="tab-icon">house</mat-icon>
              </ng-template>
              <p class="section-subtitle">Check your food radar to find generous offers and unique opportunities to help!</p>

              <app-food-radar></app-food-radar>

              <div class="refresh-button mat-elevation-z4" matRipple (click)="refreshClicked()">
                <mat-icon>refresh</mat-icon>
                <p *ngIf="currentScreenSize != 'XSmall'" class="section-subtitle">Tap to refresh all or drag each to find a similar option!</p>
                <p *ngIf="currentScreenSize == 'XSmall'" class="section-subtitle">Tap to refresh </p>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="tab-icon">filter_alt</mat-icon>
              </ng-template>
            <p class="section-subtitle">What would you like to eat today? What are you cooking? Here the user can filter out what they need or what they have to offer!</p>
            <div class="placeholder-svg">
               <app-filters></app-filters>
            </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="tab-icon">diversity_3</mat-icon>
              </ng-template>
            <p class="section-subtitle">Find people willing to share their company and what food they have with you! Feel the love! Here the user can find opportunities to share food with people!</p>
            <div class="placeholder-svg">
                <app-eating-together></app-eating-together>
             </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="tab-icon">soup_kitchen</mat-icon>
                </ng-template>
                <p class="section-subtitle">Offer some food to the people around you! Share some of what you have cooked or eaten today!</p>
                <div class="placeholder-svg">
                    <app-chef></app-chef>
                 </div>
              </mat-tab>
          </mat-tab-group>
    </mat-drawer-container>
</div>
